.addContainer {
    border: 1px solid green;
    border-radius: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-block: 1rem;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.102);
    margin-bottom: 0.5rem;
}

.subContainer {
    border: 1px solid red;
    border-radius: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-block: 1rem;
    align-items: center;
    background-color: rgba(128, 0, 0, 0.102);
    margin-bottom: 0.5rem;
}


.transactionName {
    padding-left: 1rem;
}

.transactionValue {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.dateValue {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 1rem;
}

.transactionDate {
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
}