
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.informationContainer{
    display: flex;
    justify-content: space-between;
    width: 30rem;
}

.accountBalance {
    display: flex;
    background-color: #ffffff9f;
    box-shadow: 0px 2px 5px 1px rgb(154, 154, 154);
    border-radius: 0.5rem;
    width: 10rem;
    padding: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5rem ;
}

.accountBalance span:last-child{
    font-size: 1.25rem;
    font-weight: bold;
}

.last5Container{
    display: flex;
    background-color: #ffffff9f;
    box-shadow: 0px 2px 5px 1px rgb(154, 154, 154);
    border-radius: 0.5rem;
    width: 29rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.last5Title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}


@media only screen and (max-width: 600px) {
    section{
        margin-top: 0;
    }
    .informationContainer {
        width: 100%;
    }
    .last5Container {
        width: 90vw; 
    }
    .accountBalance {
        font-size: 0.75rem;
        margin-right: 0.5rem;
    }
    .accountBalance span:last-child{
        font-size: 1rem;
        font-weight: bold;
    }
}