.main{
    background-color: rgb(255, 255, 255);
    width: 32rem;
    border-radius: 0.5rem;
    padding: 1rem;

}

/* Media Query for screens with a max width of 600px */
@media only screen and (max-width: 600px) {
    section {
        margin-top: 0;
    }
    .main {
        width: 100%; /* Adjust width for smaller screens */
        padding: 0.5rem; /* Adjust padding for smaller screens */
    }
}


.filter{
    display: flex;
    padding-inline: 0.5rem;
    gap: 1.5rem;
}


.listFather{
    height: 30rem;
    padding-top: 2rem;
    padding-inline: 0.5rem;
    overflow: hidden;
    overflow-y: scroll;
}